header {
  height: 80px;
  max-width: 680px;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

.content {
  max-width: 680px;
  margin: 0 auto;
  font-size: 21px;

  @media screen and (max-width: 680px) {
    font-size: 18px;
    padding: 0 18px;
  }

  p {
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.66em;
  }

  pre {
    margin-bottom: 1em;
    border-radius: 20px;
  }

  code {
    font-family: "Noto Sans KR", sans-serif;
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;

    .token {
      background: rgb(0, 0, 0, 0) !important;
    }
  }

  h1, h2, h3, h4, h5, h6, {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
  }

  ul, ol {
    margin-bottom: 1em;
    line-height: 1.66em;
  }
}
